body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th {
  background-color: #333;
  color: #fff;
  text-align: left;
  padding: 10px;
}

td {
  border: 1px solid #333;
  padding: 10px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

.container {
  width: 300px;
  margin: 0 auto;
  border: 1px solid #cccccc;
  padding: 30px;
  border-radius: 10px;
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

input,
select {
  width: 100%;
  padding: 5px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.btn {
  margin-top: 10px;
  display: inline-block;
  padding: 5px 20px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: 2px solid #3498db;
  color: #3498db;
  border-radius: 5px;
  background-color: #fff;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #3498db;
  color: #fff;
}

.btn.red {
  border: 2px solid #98082a;
  color: #db3450;
}

.btn.red:hover {
  background-color: #db3450;
  color: #fff;
}

.block {
  width: 85%;
}

nav {
  display: flex;
  border: 1px solid lightgray;
  flex-direction: row;
  & > * + ul {
    margin-left: auto;
  }
  & img {
    padding: 5px 20px;
  }
  margin-bottom: 50px;
}

nav > ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 40px;
}

li {
  list-style: none;
  & > a {
    text-decoration: none;
    color: black;
    padding: 10px;
    font-size: 18px;
  }
}

nav > img {
  margin-right: auto;
  justify-content: flex-end;
}

.contener-card {
  display: flex;
  flex-direction: row;
  gap: 50px;
  margin-bottom: 50px;
}

.filter {
  display: flex;
  flex-direction: column;
  gap: 5px;

  & > a {
    text-decoration: none;
    color: black;
    padding: 5px;
    font-size: 18px;
  }
}

footer {
  text-align: center;
}

h1 {
  text-align: center;
}

.grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(22ch, 1fr));
  gap: 20px;
}
.card img {
  max-width: 200px;
  height: auto;
  margin-bottom: 5px;
}

.card button {
  margin-bottom: 20px;
  margin-top: 5px;
}

.card p {
  margin-bottom: 0px;
}

.grid .btn {
  max-width: 200px;
}

body .code-rouge {
  color: red;
  background-color: red;
}
